#cover {
    position: fixed;
    width: 100%;
    height: 100%;
}

img {
 display: block;
    margin: 0 auto;
  
}
body {
    position: fixed;
}

.hidden {
    display: none;
}

#player1 {
    position:absolute;
    transition: 3s all;
}

#board {
    position:fixed;
        top: 0px;
        left: 0px;
}

#score1 {
    position:fixed;
    top: 555px;
    left: 0px;
}

#score1result {
    position:fixed;
    top: 595px;
    left: 95px;
}

#nextbutton {
    position: fixed;
    top: 565px;
    left: 1050px;
}

.position0 {
    top: 380px;
    left: 1050px;
}

.position1 {
    top: 400px;
    left: 750px;
}

.position2 {
    top: 440px;
    left: 460px;
}

.position3 {
    top: 190px;
    left: 250px;
}

.position4 {
    top: 80px;
    left: 530px;
}

.position5 {
    top: 120px;
    left: 860px;
}

#wheel {
    position: fixed;
    top: 75px;
    left: 375px;
}

#wheeltip {
    position: fixed;
    transition: 5s ease-out all;
    top: 75px;
    left: 615px;
}

.spinning {
    transform: rotate(740deg);
}

#poisonwheel {
     position: fixed;
    top: 75px;
    left: 375px;
}

table {
    position: fixed;
    top: 150px;
    left: 300px;
}

td {
    border: 1px solid black;
    background-color: floralwhite;
    font-size: 60px;
}

#question {
    position: fixed;
    border: 1px solid black;
    top: 10px;
    left: 10px;
    background-color: aqua;
}

#optionA {
    border: 1px solid black;
    background-color: aquamarine;
}

#optionB {
    border: 1px solid black;
    background-color: aquamarine;
}

#optionC {
    border: 1px solid black;
    background-color: aquamarine;
}

#optionD {
    border: 1px solid black;
    background-color: aquamarine;
}

#gg {
    position: fixed;
    border: 1px solid black;
    top: 10px;
    left: 10px;
    background-color: aqua;
    font-size: 40px;
}


#end {
    position: fixed;
    border: 1px solid black;
    top: 70px;
    left: 10px;
    background-color: aqua;
    font-size: 40px;
}
