img {
 display: block;
    margin: 0 auto;
  
}
body {
    position: fixed;
}

.hidden {
    display: none;
}

#player1 {
    position:absolute;
    transition: 3s all;
}

#board {
    position:fixed;
        top: 0px;
        left: 0px;
}

#score1 {
    position:fixed;
    top: 555px;
    left: 0px;
}

#score1result {
    position:fixed;
    top: 595px;
    left: 95px;
}

#nextbutton {
    position: fixed;
    top: 565px;
    left: 1050px;
}

.position0 {
    top: 380px;
    left: 1050px;
}

.position1 {
    top: 400px;
    left: 750px;
}

.position2 {
    top: 450px;
    left: 450px;
}

#wheel {
    position: fixed;
    top: 75px;
    left: 375px;
}

#wheeltip {
    position: fixed;
    transition: 7s ease-out all;
    top: 75px;
    left: 615px;
}

.spinning {
    transform: rotate(740deg);
}

#poisonwheel {
     position: fixed;
    top: 75px;
    left: 375px;
}